@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --text-color-base: #fff;
  --accent-1: rgb(175, 185, 142);
  --accent-2: rgb(218, 227, 150);
  --accent-3: rgba(175, 185, 142, 0.7);
  --red-1: rgb(255, 23, 21);
  --red-2: rgb(255, 79, 77);
  --red-3: rgb(255, 122, 121);
  --green: rgb(0, 245, 147);
  --yellow: rgb(251, 162, 46);
  --input-border: rgba(255, 255, 255, 0.4);
}
body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color-base);
  background: linear-gradient(270deg, #050025 30%, 
    rgba(6, 0, 40, 0.9) 74.37%, rgba(6, 0, 41, 0.7) 100%), 
    url(maxim-berg-ZESbrsLBPPk-unsplash.jpg) no-repeat;
  margin: 35px 150px 0 110px;
}
p {
  margin: 0 0 40px 0;
}
h2 {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 35px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 135px;
}
.logo {
  color: var(--accent-1);
  font-size: 2.5rem;
  font-weight: 700;
}
.logo::before {
  content: '';
  position: absolute;
  left: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
  background: var(--accent-2);
  border-radius: 50px;
}
.content-text {
  max-width: 600px;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
}
label {
  color: var(--accent-3);
  font-weight: 700;
  font-size: 0.9rem;
}